* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #9d0b0b;
  --secondary-color: #da2d2d;
  --tersier-color: #eb8242;
  --alternativ-color: #f6da63;
}

.primary-color-new {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tersier-color {
  color: var(--tersier-color);
}

.alternativ-color {
  color: var(--alternativ-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-tersier-color {
  background-color: var(--tersier-color);
}

.bg-alternativ-color {
  background-color: var(--alternativ-color);
}

body {
  padding-top: 6rem;
}

.rounded {
  border-radius: 15px;
}

.relative {
  position: relative;
  z-index: 99;
  bottom: 18px;
}

.menu-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

.menu-img:hover {
  transform: scale(1.15) translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.menu-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#menu,
#order,
#promo,
#iklan,
#about,
#drink,
#spicy,
#reguler,
#sides,
#burger {
  scroll-margin-top: 8rem;
}

.category-card {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

.category-card:hover {
  background-color:  var(--primary-color); /* bg-danger */
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(220, 53, 69, 0.3);
}

.category-card:hover .category-text {
  color: white !important;
}

.category-card:active {
  transform: scale(1.05);
}

/* Smooth transition untuk gambar */
.category-card img {
  transition: transform 0.3s ease;
}

.category-card:hover img {
  transform: scale(1.05);
}

#scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border: none;
  transition: all 0.3s ease;
  opacity: 0;
  transform: scale(0);
}

#scrollToTop.show {
  opacity: 1;
  transform: scale(1);
  display: block !important;
}

#scrollToTop:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(220, 53, 69, 0.4) !important;
}

#scrollToTop:active {
  transform: scale(0.95);
}

#loader {
  position: fixed;
  inset: 0;
  background: var(--primary-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader img {
  width: 120px; /* ubah ukuran sesuai kebutuhan */
  animation: fade 1.2s ease-in-out infinite;
}

@keyframes fade {
  50% { opacity: 0.4; }
}

