* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
    --primary-color: #9D0B0B;
    --secondary-color: #DA2D2D;
    --tersier-color: #EB8242;
    --alternativ-color: #F6DA63;
  }
  
  .primary-color {
    color: var(--primary-color);
  }
  
  .secondary-color {
    color: var(--secondary-color);
  }
  
  .tersier-color {
    color: var(--tersier-color);
  }
  
  .alternativ-color {
    color: var(--alternativ-color);
  }

  .bg-primary-color {
    background-color: var(--primary-color);
  }
  
  .bg-secondary-color {
    background-color: var(--secondary-color);
  }
  
  .bg-tersier-color {
    background-color: var(--tersier-color);
  }
  
  .bg-alternativ-color {
    background-color: var(--alternativ-color);
  }
  
  body {
    padding-top: 6rem;
  }

  .rounded {
    border-radius: 15px;
  }

  .relative {
    position: relative;
    z-index: 99;
    bottom: 18px;
  }

  .menu-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
  }
  
  .menu-img:hover {
    transform: scale(1.15) translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .menu-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .menu-card:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  #menu, #order, #promo, #iklan, #about {
    scroll-margin-top: 8rem;
  }